body{
    background-color: #344D59;
    display: flex;
    justify-content: center;
    align-items: center;

}
form{
    
    background-color:#B8CBD0;
    display: flex;
    flex-direction: column;
    gap:10px;
}
#form{
    width: 200px;
    height: 200px;
    background-color:#B8CBD0;
}